@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
.info{

  margin-top:20px;
  margin-bottom: auto;
}
.cm-image{
  height: 150px;
  width: 150px;
  margin-top: auto;
  margin-bottom: auto;
}
.custom-border{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.cm-input-field{
  outline: none;
  width: 100px;
  text-align: center;
  font-weight: 800;
}
.add-button{
  border: none;
  background-color: #BA8C63 ;
  color: white;
  width: 100px;
 font-weight: 700;


}
.remove-button{
  border: none;

  color: white;
 font-weight: 700;
}
.summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}
.summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}
.summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.summary .text{
	font-size: 1em;
	font-weight: 600;
}
.summary .price{
	font-size: 1em;
	float: right;
}
.summary button{
	margin-top: 20px;
}
